src/main/webapp/WEB-INF/wsdl/b2b-ol-agenda-ventaverde-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://b2b.falabella.com/service/ol/agenda-ventaverde" 
	xmlns:tns="http://b2b.falabella.com/service/ol/agenda-ventaverde" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:agd="http://b2b.falabella.com/schemas/ol/ventaverde-muelles"
	xmlns:vtn="http://b2b.falabella.com/schemas/ol/ventaverde-ventanas"
	xmlns:rsv="http://b2b.falabella.com/schemas/ol/ventaverde-agenda" 	
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
    <wsdl:types>
        <xs:schema elementFormDefault="qualified">
            <xs:import namespace="http://b2b.falabella.com/schemas/ol/ventaverde-muelles" schemaLocation="b2b-ol-agenda-ventaverde-muelles.xsd" />
            <xs:import namespace="http://b2b.falabella.com/schemas/ol/ventaverde-ventanas" schemaLocation="b2b-ol-agenda-ventaverde-ventanas.xsd" />
            <xs:import namespace="http://b2b.falabella.com/schemas/ol/ventaverde-agenda" schemaLocation="b2b-ol-agenda-ventaverde-agenda.xsd" />            
        </xs:schema>
    </wsdl:types>	

	<wsdl:message name="consultaAgendaActualRequest">
		<wsdl:part name="request" element="agd:Archivo" />
	</wsdl:message>
	<wsdl:message name="consultaAgendaActualResponse">
		<wsdl:part name="response" element="agd:Archivo" />
	</wsdl:message>

	<wsdl:message name="consultaVentanasRequest">
		<wsdl:part name="request" element="vtn:Archivo" />
	</wsdl:message>
	<wsdl:message name="consultaVentanasResponse">
		<wsdl:part name="response" element="vtn:Archivo" />
	</wsdl:message>

	<wsdl:message name="reservaAgendaRequest">
		<wsdl:part name="request" element="rsv:Archivo">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="reservaAgendaResponse">
		<wsdl:part name="response" element="rsv:Archivo">
    </wsdl:part>
	</wsdl:message>

	<wsdl:portType name="AgendaVerdeService">
        <wsdl:operation name="consultaAgendaActual"  >
            <wsdl:input message="tns:consultaAgendaActualRequest" />
            <wsdl:output message="tns:consultaAgendaActualResponse" />
        </wsdl:operation>
        <wsdl:operation name="consultaVentanas"  >
            <wsdl:input message="tns:consultaVentanasRequest" />
            <wsdl:output message="tns:consultaVentanasResponse" />
        </wsdl:operation>
        <wsdl:operation name="reservaAgenda"  >
            <wsdl:input message="tns:reservaAgendaRequest" />
            <wsdl:output message="tns:reservaAgendaResponse" />
        </wsdl:operation>            
	</wsdl:portType>
	
	<wsdl:binding name="AgendaVerdeServiceImplBinding" type="tns:AgendaVerdeService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="consultaAgendaActual">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="consultaVentanas">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="reservaAgenda">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>	
	
	<wsdl:service name="AgendaVerdeServiceImpl">
		<wsdl:port name="AgendaVerdeServiceImpl" binding="tns:AgendaVerdeServiceImplBinding">
			<soap:address location="http://127.0.0.1/AgendaVentaVerde"/>
		</wsdl:port>
	</wsdl:service>	
	
</wsdl:definitions>