files/b2b-valida-patente-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://b2b.falabella.com/schemas/ol/valida-patente-request" targetNamespace="http://b2b.falabella.com/schemas/ol/valida-patente-request" elementFormDefault="qualified">
	<xs:element name="valida-patente-request">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="patente" minOccurs="0" maxOccurs="1" type="xs:string"/>
                                <xs:element name="id-cliente" type="xs:int"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
